/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
@keyframes pointer {
  from {
      transform: translateX(0);
  }

  to {
      transform: translateX(-4px);
  }
}

.core {
  fill: transparent;
  transition: fill linear 0.3s;
}

.main-body {
  fill: transparent;
  transition: fill linear 0.3s;
}

.card__icon-button:hover {
  .like-icon {
      .core {
          fill: var(--accent-color);
          transition: fill 0.3s linear;
      }

      .main-body {
          fill: var(--accent-color);
          transition: fill 0.3s 0.05s linear;
      }
  }
}

.card__icon-button:active {
  .like-icon {
      .core {
          fill: var(--heart-fill);
          transition: fill linear 0.3s;
      }

      .main-body {
          fill: var(--heart-fill);
          transition: fill linear 0.3s 0.05s;
      }
  }
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill);
  transition: fill linear 0.3s 0.6s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-fill);
  transition: fill linear 0.3s 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-fill);
  transition: fill linear 0.3s;
}

@keyframes like {
  from {
      transform: scaleX(1);
  }

  to {
      transform: scaleX(1.5);
  }
}

.like-icon.is-liked .heart {
  animation-name: heart;
  animation-delay: 0.1s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  transform-origin: center;
}

@keyframes sparks {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.like-icon.is-liked .sparks {
  animation-name: sparks;
  animation-delay: 0.3s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  transform-origin: center;
  animation-direction: alternate;
}

.contour {
  fill: var(--accent-color);
  transition: fill linear 0.1s;
}